%h1#name= @item['name']

%h3 Category
%ul
  %li
    %a{href: "/cat/" + @item['cat']['_id'].to_s}= @item['cat']['name']

%h3 Fields
%ul
  - @item['fields'].each do |field|
    %li 
      %p= "#{field['name']} - #{field['value']}" 